#!/usr/bin/env bash

# Benchmark info
echo "TIMING - Starting main script at: $(date)"

# Set working directory to home directory
cd "${HOME}"

#
# Start OpenVSCode Server
#

<%- unless context.modules.blank? -%>
# Purge the module environment to avoid conflicts
module purge

# Load the require modules
module load <%= context.modules %>

# List loaded modules
module list
<%- end -%>

# Benchmark info
echo "TIMING - Starting OpenVSCode at: $(date)"

# Launch the OpenVSCode Server
set -x
echo ${OPENVSCODE-SERVER_HOME}
/opt/apps/rhel8/openvscode-server-1.63.2/server.sh --connection-token "${OPENVS_TOKEN}" --port "${port}"
