# Job submission configuration file
#
# Set up some stuff via ERB template for job submission
<%-
  memreq = mem.blank? ? '2' : mem.to_s
  memreq = memreq + 'G'

  numcpus = cpus.blank? ? 2 : cpus.to_i

  argarr = addargs.split(" ")

  slurm_args = ["--mem","#{memreq}","-c","#{numcpus}"] + argarr
%>
---

#
# Configure the content of the job script for the batch job here
# @see http://www.rubydoc.info/gems/ood_core/OodCore/BatchConnect/Template
#
batch_connect:
  # We use the basic web server template for generating the job script
  #
  # @note Do not change this unless you know what you are doing!
  template: "basic"

  # You can override the command used to query the hostname of the compute node
  # here
  #
  # @note It is **highly** recommended this be set in the global cluster
  #   configuration file so that all apps can take advantage of it by default
  #
  #set_host: "host=$(hostname -A | awk '{print $2}')"

#
# Configure the job script submission parameters for the batch job here
# @see http://www.rubydoc.info/gems/ood_core/OodCore/Job/Script
#
#script:
#  queue_name: "queue1"
#  accounting_id: "account1"
#  email_on_started: true
#  native: # ... array of command line arguments ...
script:
  native:
  <%- slurm_args.each do |arg| %>
    - "<%= arg %>"
  <%- end %>
