<form id="<%= form_id %>" action="/node/<%= host %>/<%= port %>/" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to OpenVSCode
  </button>
</form>
